@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-900 text-lg text-gray-50;
}

h1 {
    @apply text-4xl text-green-400 font-bold mb-8;
}

h2 {
    @apply text-3xl md:text-4xl text-blue-400 font-semibold;
}

h3 {
    @apply text-2xl text-black;
}

h4 {
    @apply text-xl text-gray-500;
}